html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16 px we want the size to be 10px so we do 62.5% */
}
body {
  background-color: grey;
  font-family: "Titillium Web", sans-serif;
}

.main-header {
  font-size: 4rem;
  text-align: center;
  color: black;
  border: 1rem solid black;
  width: 40rem;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.parent {
  font-size: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
}
.child-1,
.child-2 {
  width: 33rem;
  height: 40rem;
  border: 3px solid black;
  text-align: center;
  background-color: lightgray;
  box-shadow: 4px 4px 8px;
  margin-bottom: 3em;
}
.adult-1 {
  border: 3px solid black;
  margin: 7px 7px 7px 7px;
}

.images {
  width: 75%;
  height: 50%;
  border: 5px solid black;
}
.form::before {
  content: "\2614";
  font-size: 2rem;
}
.button {
  font-size: 2rem;
  box-shadow: 4px 4px 8px;
}
.button:hover {
  transform: scale(0.75);
  transition: all 0.3s ease-in-out;
  border: 2px solid turquoise;
}
.child:hover {
  transform: scale(1.15);
  transition: all 0.3s ease-in;
}

.main-header:hover {
  transform: scale(1.25);
  filter: opacity(0);
}
.main-header {
  transition: all 0.3s ease-in-out;
}

.adult-1:hover {
  border: lightgray;
}

#img-2:hover {
  transition: all 0.3s ease-in-out;
  filter: grayscale(100%);
}
.parent:hover .child:not(:hover) {
  opacity: 0.3;
  transform: scale(0.7);
  transition: all 0.3s ease-in;
}
.animation {
  height: 2rem;
  width: 2rem;
  animation: job 5s infinite;
  position: absolute;
}

@keyframes job {
  0% {
    left: 50%;
    bottom: 98%;
    background-color: turquoise;
  }
  25% {
    left: 45%;
    bottom: 90%;
    background-color: white;
  }
  50% {
    left: 50%;
    bottom: 98%;
    background-color: turquoise;
  }
  75% {
    left: 55%;
    bottom: 90%;
    background-color: white;
  }
  100% {
    left: 50%;
    bottom: 98%;
    background-color: turquoise;
  }
}

@media (max-width: 1200px) {
  .child {
    width: 25%;
    color: green;
  }
  .adult-1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 800px) {
  .child {
    width: 51%;
    color: purple;
  }
  .adult-1 {
    font-size: 1.9rem;
  }
}
@media (max-width: 400px) {
  .child {
    color: brown;
  }
  .adult-1 {
    font-size: 1.4rem;
  }
  .main-header {
    width: 75%;
    font-size: 2rem;
  }
  .images {
    height: 35%;
  }
}



@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&display=swap');

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding: 0px;
  box-sizing: border-box;
  text-transform: uppercase;
  transition:all .2s linear;
}

:root{
  --main-color:#8e44ad;
}

.container{
  min-height: 100vh;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

.container h1{
  color: var(--main-color);
  background: #fff;
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  border-radius: 10px;
  font-size: 6em;
  padding: .5em .8em;
}


.color-switcher{
  position: fixed;
  top:25px; right: -200px;
  width:200px;
  padding:10px;
  background: #fff;
  z-index: 1000;
}

.color-switcher.active{
  right:0px;
}

.color-switcher h3{
  color:var( --main-color);
  font-size:20px;
  margin-bottom: 10px;
  border-bottom:1px solid black;
  padding: 5px 0;
  text-align: center;
}

.color-switcher .switcher-btn{
  position: absolute;
  top:0; left: -75px;
  color:var(--main-color);
  background: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 35px;
}


.color-switcher .switching-btn i{
  animation: rotate 2s linear infinite;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}



.color-switcher .theme-buttons-cointainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


.color-switcher .theme-buttons-cointainer .theme-buttons{
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}