html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16 px we want the size to be 10px so we do 62.5% */
}
body {
  background-color: grey;
  font-family: "Titillium Web", sans-serif;
}

.main-header {
  font-size: 4rem;
  text-align: center;
  color: black;
  border: 1rem solid black;
  width: 40rem;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.parent {
  font-size: 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.child-1,
.child-2 {
  width: 33rem;
  height: 40rem;
  border: 3px solid black;
  text-align: center;
  background-color: lightgray;
  box-shadow: 4px 4px 8px;
  margin-bottom: 3em;
}
.adult-1 {
  border: 3px solid black;
  margin: 7px 7px 7px 7px;
}

.images {
  width: 75%;
  height: 50%;
  border: 5px solid black;
}
.form::before {
  content: "\2614";
  font-size: 2rem;
}
.button {
  font-size: 2rem;
  box-shadow: 4px 4px 8px;
}
.button:hover {
  transform: scale(0.75);
  transition: all 0.3s ease-in-out;
  border: 2px solid turquoise;
}
.child:hover {
  transform: scale(1.15);
  transition: all 0.3s ease-in;
}

.main-header:hover {
  transform: scale(1.25);
  filter: opacity(0);
}
.main-header {
  transition: all 0.3s ease-in-out;
}

.adult-1:hover {
  border: lightgray;
}

#img-2:hover {
  transition: all 0.3s ease-in-out;
  filter: grayscale(100%);
}
.parent:hover .child:not(:hover) {
  opacity: 0.3;
  transform: scale(0.7);
  transition: all 0.3s ease-in;
}
.animation {
  height: 2rem;
  width: 2rem;
  animation: job 5s infinite;
  position: absolute;
}

@keyframes job {
  0% {
    left: 50%;
    bottom: 98%;
    background-color: turquoise;
  }
  25% {
    left: 45%;
    bottom: 90%;
    background-color: white;
  }
  50% {
    left: 50%;
    bottom: 98%;
    background-color: turquoise;
  }
  75% {
    left: 55%;
    bottom: 90%;
    background-color: white;
  }
  100% {
    left: 50%;
    bottom: 98%;
    background-color: turquoise;
  }
}

@media (max-width: 1240px) {
  .adult-1 {
    color: brown;
    height: 20rem;
    width: 20rem;
    text-align: center;
  }
  .images {
    width: 17rem;
    height: 17rem;
  }
  .main-header {
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 8rem;
  }
  .parent {
    width: 25%;
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12rem;
  }
  .child {
    width: 25%;
  }
}
@media (max-width: 768px) {
  .adult-1 {
    color: green;
    height: 17rem;
    width: 11rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
    margin-bottom: 3rem;
  }
  .images {
    margin-bottom: 1rem;
    width: 10rem;
    height: 15rem;
  }
  .main-header {
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 8rem;
  }
  .parent {
    width: 65%;
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
  }
}
@media (max-width: 572px) {
  .adult-1 {
    color: purple;
    height: 12rem;
    width: 12rem;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    margin-bottom: 3rem;
  }
  .images {
    margin-top: 1rem;
    width: 10.25rem;
    height: 17rem;
  }
  .main-header {
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 8rem;
  }
  .parent {
    width: 40rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14rem;
  }
}
