html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16 px we want the size to be 10px so we do 62.5% */
}
body {
  background-color: grey;
  font-family: "Titillium Web", sans-serif;
}

.main-header {
  font-size: 10em;
  text-align: center;
  color: black;
  border: 1rem solid black;
  margin-left: 50rem;
  margin-right: 50rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.parent {
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.child {
  width: 28%;
}
.child-1,
.child-3 {
  border: 3px solid black;
  height: 350px;
  margin-bottom: 5rem;
  text-align: center;
  background-color: lightgrey;
  box-shadow: 4px 4px 8px;
}
.child-2 {
  border: 3px solid white;
  height: 350px;
  margin-bottom: 5rem;
  text-align: center;
  background-color: lightgrey;
  box-shadow: 4px 4px 8px;
}
.img-1 {
  border: 5px solid white;
  margin-top: 1.75em;
  width: 68%;
  height: 65%;
}
.img-2 {
  border: 5px solid black;
  margin-top: 1.75em;
  width: 68%;
  height: 65%;
}
.adult-1 {
  margin-top: 1.5rem;
  font-size: 1em;
}
.img-3 {
  border: 5px solid black;
  width: 68%;
  height: 65%;
  align-items: center;
}
